--extra-index-url https://download.pytorch.org/whl/rocm6.2
git+https://github.com/huggingface/diffusers.git
torch==2.6.0+rocm6.2; sys_platform != 'darwin'
torch==2.6.0; sys_platform == 'darwin'
torchvision==0.21.0+rocm6.2; sys_platform != 'darwin'
torchvision==0.21.0; sys_platform == 'darwin'
torchaudio==2.6.0+rocm6.2; sys_platform != 'darwin'
torchaudio==2.6.0; sys_platform == 'darwin'
huggingface_hub
transformers==4.49.0
gradio
soundfile
progressbar
librosa
matplotlib
audiosr
unidecode
